:root {
  --ff-base: system-ui, sans-serif;
  --container-max: 1200px;
  --container-breakout: 90ch;
  --container-padding: 2rem;

  --rgb-dark: 0, 0, 0;
  --clr-dark-700: rgb(30, 30, 30);
  --clr-light-400: rgb(255, 255, 255);
  --clr-light-500: rgb(248, 248, 248);
  --clr-red-400: rgb(255, 0, 0);
  --clr-green-400: rgb(0, 128, 0);
  --clr-orange-400: rgb(255, 165, 0);

  --rgb-red-400: 255, 0, 0;
  --rgb-green-400: 0, 128, 0;
  --rgb-orange-400: 255, 165, 0;
  --rgb-light-400: 255, 255, 255;

  --clr-accent-400: orange;

  --shadow-light: 0 0 10px rgba(0, 0, 0, 0.3);
  --shadow-right: 10px 0 5px rgba(0, 0, 0, 0.05);
}

/******reset******/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-base);
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: var(--clr-light-400);
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

button {
  cursor: pointer;
  color: inherit;
  border: none;
  background-color: transparent;
  line-height: 1;
}

/******utility classes******/
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.container {
  width: min(100% - var(--container-padding), var(--container-max));
  margin-inline: auto;
}

.content-grid {
  --container-breakout-width: calc((var(--container-breakout) - var(--container-max)) / 2);

  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--container-padding), 1fr)
    [breakout-start] minmax(0, var(--container-breakout-width))
    [content-start] min(100% - (2 * var(--container-padding)), var(--container-max)) [content-end]
    minmax(0, var(--container-breakout-width)) [breakout-end]
    minmax(var(--container-padding), 1fr) [full-width-end];
}

.content-grid > * {
  grid-column: content;
}

.content-grid > .breakout {
  grid-column: breakout;
}

.content-grid > .full-width {
  grid-column: full-width;
}

.text-center {
  text-align: center;
}

.flex-repel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-group {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.bold {
  font-weight: 700;
}

/******styling******/
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.button-fill {
  background-color: var(--clr-accent-400);
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 50px;
}

.button-fill:hover {
  filter: brightness(0.95);
}

.icon-button {
  border-radius: 5px;
  padding: 0.25rem;
}

.icon-button:hover {
  background-color: rgba(var(--rgb-dark), 0.07);
}

header {
  color: var(--clr-light-400);
  background-color: var(--clr-dark-700);
  padding-block: 0.5rem;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  font-size: 2rem;
  font-weight: 700;
  pointer-events: none;
}

#app {
  --header-heigh: 70px;
  margin-inline: auto;
  display: grid;
  min-height: 100vh;
  grid-template-rows: var(--header-heigh) calc(100vh - var(--header-heigh));
}

.app-body {
  width: min(var(--container-max), 100%);
  margin-inline: auto;
  display: grid;
  grid-template-columns: 250px 1fr;
}

.primary-nav {
  background-color: var(--clr-light-400);
  height: calc(100vh - var(--header-heigh));
  padding: 0rem 1rem;
  overflow-y: auto;
  position: sticky;
  top: 0;
  box-shadow: var(--shadow-right);

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.primary-nav ul {
  list-style: none;
  padding-block: 0.75rem;
  display: grid;
  gap: 0.25rem;
}

.primary-nav button {
  font-size: 1.45rem;
  line-height: 1;
  text-align: left;
  padding: 0.5rem;
  width: 100%;
  border-radius: 5px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.primary-nav .project-button {
  position: relative;
}

.project-button > .button-content {
  max-width: 125px;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.primary-nav .project-button.active {
  color: var(--clr-orange-400);
  font-weight: 700;
}

.primary-nav button:hover {
  background-color: rgba(var(--rgb-dark), 0.05);
}

.primary-nav button:hover > .delete-project {
  display: block;
}

.delete-project {
  display: none;
  position: relative;
  border-radius: 2px;
  color: red;
  height: 24px;
}

.delete-project .icon {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 20;
  line-height: 1;
}

.delete-project:hover {
  background-color: rgba(var(--rgb-dark), 0.07);
}

.add-project:hover {
  background-color: white;
  outline: 1px solid var(--clr-dark-700);
}

dialog {
  position: relative;
  border: none;
  border-radius: 0.5rem;
  margin-inline: auto;
  top: 50%;
  transform: translateY(-50%);
}

dialog > header {
  color: var(--clr-light-400);
  background-color: var(--clr-accent-400);
  padding: 0.25rem 0.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dialog-body {
  padding: 1rem 2rem;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
}

dialog .modal-close-btn {
  border-radius: 5px;
}

.modal-close-btn:hover {
  background-color: rgba(var(--rgb-dark), 0.1);
}

form {
  display: grid;
  gap: 1rem;
}

.form-group {
  display: grid;
  gap: 0.25rem;
}

input,
textarea {
  padding: 0.5rem 1rem;
}

textarea {
  resize: none;
}

input::user-invalid + .error,
input.invalid + .error {
  display: block;
}

.error {
  color: var(--clr-red-400);
  display: none;
}

#projects li {
  margin-left: 1rem;
}

#overview {
  border-bottom: 1px solid black;
}

#overview .project-button[data-project-name='Home'] .button-text::before {
  content: '🏠';
}

#overview .project-button[data-project-name='Today'] .button-text::before {
  content: '⌛';
}

#overview .project-button[data-project-name='Week'] .button-text::before {
  content: '📅';
}

#todos-list {
  background-color: var(--clr-light-500);
  padding: 2rem;
  overflow-y: auto;
}

.empty-project {
  font-size: 1.5rem;
  text-align: center;
}

.empty-project > * + * {
  margin-top: 1rem;
}

#add-todo {
  padding: 1rem;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  box-shadow: var(--shadow-light);
  z-index: 10;
}

.low {
  --clr: var(--rgb-green-400);
  --bg: var(--rgb-light-400);
}

.medium {
  --clr: var(--rgb-orange-400);
  --bg: var(--rgb-light-400);
}

.high {
  --clr: var(--rgb-red-400);
  --bg: var(--rgb-light-400);
}

.select-one {
  padding-block: 0.5rem;
}

.select-one input[type='radio'] {
  display: none;
}

.select-one label {
  color: rgb(var(--clr));
  background-color: rgb(var(--bg));
  border: 2px solid rgb(var(--clr));
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 50ms;
}

.select-one label:hover {
  background-color: rgba(var(--clr), 0.1);
}

.select-one input[type='radio']:checked + label {
  color: rgb(var(--bg));
  background-color: rgb(var(--clr));
  border: 2px solid rgb(var(--bg));
}

.todo {
  background-color: var(--clr-light-400);
  padding: 1rem 0.5rem;
  border-left: 5px solid rgb(var(--clr, 128 128 128));
  border-radius: 5px;
  transition: transform 200ms;
}

.todos-count {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  line-height: 1;
  color: var(--clr-light-400);
  background-color: var(--clr-red-400);
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  width: 20px;
  height: 20px;
}

.todo.due {
  outline: 2px solid red;
  outline-offset: 2px;
}

.todo input[type='checkbox'] {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.todo:has(input[type='checkbox']:checked) {
  color: grey;
  text-decoration: line-through;
  border-left: 5px solid grey;
}

.todo__content {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.todo[data-priority='low'] {
  --clr: var(--rgb-green-400);
}

.todo[data-priority='medium'] {
  --clr: var(--rgb-orange-400);
}

.todo[data-priority='high'] {
  --clr: var(--rgb-red-400);
}

.todo[data-priority='unset'] {
  --clr: 0, 0, 0, 0;
}

.todo:hover {
  box-shadow: var(--shadow-light);
  transform: scale(101%);
  position: relative;
  z-index: 11;
}

.todo + .todo {
  margin-top: 1rem;
}

.project-header {
  border-bottom: 1px solid var(--clr-dark-700);
  margin-bottom: 1.5rem;
}

.empty-project-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
